<% layout("/layouts/boilerplate") %>
   <div class="row">
       <h2 class="col-6 offset-3 mt-3">SignUp on Wanderlust</h2>
       <div class="col-6 offset-3 mt-4">
           <form action="/signup" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" placeholder="enter username" name="username" class="form-control" id="username" required>
                    <div class="invalid-feedback">Username can't be empty</div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" placeholder="enter email" name="email" class="form-control" id="email" required>
                    <div class="invalid-feedback">Email can't be empty</div>
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" placeholder="enter password" name="password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Password can't be empty</div>
                </div>
                <button class="btn btn-success">Register</button>
           </form>
       </div>
    </div>